# Vim #
######################
*.swp
*.swo
*.project.vim

# R #
######################
*-Ex.R
*.Rdata
*.Rhistory

# CTags #
######################
tags

# MacOS #
######################
.DS_Store
*~

# Libre Office #
# ####################
 *.odp#

# Hidden files from Python3 #
################################
.bash_history
.python_history

# InfoMaid #
#########
0_out/
chroma/
poetry.lock
__pycache__/
promptFiles/
data/
data_test/
docs/

# NLTK #
########
nltk_data/
